---
layout: default
---

<h1 class="archive-title">{{ page.title }}</h1>
{% assign tags = site.tags | sort %}
{% for tag in tags %}
  {% assign tag_name = tag[0] %}
  {% assign posts = tag[1] %}
  <section class="archive-group" id="{{ tag_name | slugify }}">
    <h2 class="archive-group__title">{{ tag_name }}</h2>
    <ul class="archive-group__list">
      {% for post in posts %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <span class="post-card__meta">{{ post.date | date: "%Y-%m-%d" }}</span>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endfor %}
